<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
	<styleBundle path="~/App/css">
		<include path="~/Content/budget-app.css" />
	</styleBundle>
</bundles>